.banner1 {
    height: 570px;
    width: 100%;
    position: relative;
    margin-top: 151px;
}

.banner2 {
    height: 570px;
    width: 100%;
    position: relative;
    margin-top: 80px;
}

.banner3 {
    height: 465px;
    width: 100%;
    position: relative;
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.bubble {
    width: 50%;
    height: 550px;
    background-color: #D50000;
    border-radius: 0 300px 300px 0;
}

.bubble2 {
    position: absolute;
    width: 50%;
    height: 500px;
    background-color: #D50000;
    border-radius: 300px 100px 100px 300px;
    right: 10%;
}

.bubbledesc {
    width: 80%;
    padding-top: 115px;
    padding-left: 80px;
}

.bannerdesc {
    width: 30%;
    margin-top: 50px;
}

.bubble h1 {
    font-size: 45px;
    color: white;
    padding-bottom: 20px;
    line-height: 55px;
}

.bubble2 h1 {
    font-size: 38px;
    color: white;
    text-align: right;
    margin-top: -10px;
}

.banner3 h1 {
    font-size: 45px;
    color: black;
    line-height: 55px;
}

.bubble h3 {
    font-size: 25px;
    color: white;
    padding-bottom: 15px;
}

.bubble h2 {
    font-family: 'Maison Neue Extended';
    font-size: 32px;
    font-style: oblique;
    color: #FFBD22;
}

.bubble2 p {
    font-size: 20px;
    color: white;
    line-height: 28px;
    margin-left: 80px;
    text-align: justify;
}

.banner3 p {
    font-size: 28px;
    color: black;
    line-height: 35px;
}

.banner3 span {
    color: #D50000;
}

.banner1 img {
    height: 550px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.banner2 img {
    height: 500px;
    position: absolute;
    top: 0;
    left: 10%;
    z-index: -1;
    border-radius: 100px 0 0 100px;
}

.banner3 img {
    height: 400px;
    margin-right: 80px;
}

.bubblesmall {
    height: 90px;
    width: 180px;
    background-color: #FFBD22;
    position: absolute;
    bottom: 20px;
    left: 450px;
    border-radius: 100px 100px 0 0;
}

.bubblesmall2 {
    height: 90px;
    width: 180px;
    background-color: #FFBD22;
    position: absolute;
    top: 0;
    left: 700px;
    border-radius: 0 0 100px 100px;
}

.one {
    width: 100%;
}

.footerAngkutaja {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #101820;
}

.footerAngkutaja p {
    color: white;
}