.detail {
    margin-left: 150px;
}

h1 {
    font-family: 'Maison Neue Extended';
    font-size: 30px;
    margin: 30px 0;
}

table {
    margin-left: 120px;
    width: 80%;
}

table th {
    font-family: 'Maison Neue Extended';
    text-align: left;
    padding: 10px 25px 20px 25px
}

table td {
    padding: 10px 25px;
}

table .harga {
    color: #16A000;
}

td button img {
    height: 18px;
    width: 17px;
}

.editButton {
    background-color: #FFBD22;
    border: 0;
    border-radius: 25% 0 0 25%;
    cursor: pointer;
}

.editButton:hover {
    background-color: #e9ac1f;
}

.deleteButton {
    background-color: #FF0000;
    border: 0;
    border-radius: 0 25% 25% 0;
    cursor: pointer;
}

.deleteButton:hover {
    background-color: #ec0202;
}

.warn {
    display: block;
    margin: auto;
    margin-top: 120px;
}

img.warn {
    width: 120px;
}

table .rowdetail:hover {
    background-color: #ececec;
    cursor: pointer;
    transition: 0.5s;
}

table {
    border-collapse: separate;
}

td {
    border-style: solid none;
}

td:first-child {
    border-left-style: solid;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
}

td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 17px;
    border-top-right-radius: 17px;
}

input[type="text"],
input[type="number"],
select {
    display: block;
    border-radius: 15px;
    height: 35px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: solid black 1px;
    padding: 0 10px;
}

.buttonSave {
    width: 120px;
    height: 30px;
    border: 0;
    border-radius: 10px;
    color: white;
    background-color: #FFBD22;
    font-size: 15px;
    cursor: pointer;
}

.buttonCancel {
    width: 120px;
    height: 30px;
    border: 0;
    border-radius: 10px;
    color: white;
    background-color: #D50000;
    font-size: 15px;
    cursor: pointer;
}